folium>=0.20.0
gtts>=2.5.4
numpy>=2.3.4
openpyxl>=3.1.5
pandas>=2.3.3
plotly>=6.3.1
qrcode>=8.2
reportlab>=4.4.4
scikit-learn>=1.7.2
speechrecognition>=3.14.3
streamlit>=1.50.0
streamlit-aggrid>=1.1.9
streamlit-audiorecorder>=0.0.6
stripe>=13.0.1
